html * {
    font-family: sans-serif;
    /* border: 1px solid black; */
}

body {
    display: flex;
    flex-direction: column;   
    margin: 0;
    min-height: 100vh;
}

.section1 {
    background-color: #1f2937;
    color: white;
    
}

.section3 {
    background-color: #b3b7bf;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.header-subtext {
    font-size: 15px;
    color: #b3b7bf;
    margin: 5px 0px 10px 0px;
}

.header-button {
    color: white;
    background-color: #3882F6;
    padding: 7px 22px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #b3b7bf;
}

.container1 {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.mini-container1 {
    margin-right: 50px;
    flex-basis: 400px;
}

.mini-container2 img{
    width: 500px;
    height: 350px;
}


.picture-title {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.picture-container img{
    width: 200px;
    border-radius: 14px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 2px;
}

.picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.picture-container img {
    display: block;
    margin: 0 auto;
}

.picture-text {
    text-align: center;
    width: 250px;
    margin: 10px 0px;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding: 50px 400px 50px 400px;
}
.section3 p {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 20px;
    color: black;
}

.section3 b {
    text-align: right;
}

.footer {
    background-color: #1f2937;
    color: white;
}

.section4 {
    margin: 100px 375px;
    padding: 50px;
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    align-items: center;
}

.section4 p{
    color: #b3b7bf;
    margin: 5px 0px 0px 0px;
}

.section4 h3{
    margin: 0;
}

.cta-button-container {
    margin-left: 100px;
    margin-right: 100px;;
}

.cta {
    padding-right: 100px;
}

.cta-button-container button {
    border-color: white;
    border-radius: 8px;
    border-style: solid;
    color: white;
    background-color: transparent;
    padding: 8px 20px;
    white-space: nowrap;
}

